{% extends 'portfolio/layout.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" href="static/portfolio/css/blog.css">
{% endblock %}

{% block main %}
<h2 class="section_title">Blog</h2>
<span class="section_subtitle">Here you can create, edit, and delete posts!
    <br>
    <div class="new_post_button">
        <a href="{% url 'portfolio:blog_new' %}" style="margin: 20px;" class="button button_flex">+ New Post</a>
    </div>
</span>
{% for post in posts %}
<section class="blog_page section" id="blog_p">

    <div class="blog_page_container container grid">

        <div class="blog_post_container container grid" style="border-radius: 5px; padding: 50px;">

            <h2>{{ post.titulo }}</h2>
            <img src="{% static 'portfolio/img/imagemJS1.jpg' %}" height="200px" width="auto"
                style="border-radius: 5px;">
            <span style="color: grey;" class="info">
                (by {{post.autor}} at {{ post.data.day }}/{{ post.data.month }}/{{ post.data.year }})
            </span>
            {{ post.descricao }}

            {% if user.is_authenticated %}
            <a href="{% url 'portfolio:blog_edit' post.id %}" class="button_flex">
                Edit
            </a>
            {% endif %}
            <a href="{% url 'portfolio:blog_delete' post.id %}" class="button_flex">Delete</a>

            <div class="like_contanier">
                <a href="{% url 'portfolio:blog_like' post.id %}" class="like">👍🏻</a>
                <span style="color: grey;">{{post.like}}</span>

                <a href="{% url 'portfolio:blog_deslike' post.id %}" class="deslike">👎🏻</a>
                <span style="color: grey;">{{post.deslike}}</span>
            </div>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock main %}