{% extends 'portfolio/layout.html' %}

{% block extra_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" href="static/portfolio/css/blog.css">
{% endblock %}

{% block main %}
{% for post in posts %}
<section class="blog_page section" id="blog_p">

    <h2 class="section_title">Blog</h2>
    <span class="section_subtitle">Here you can create, edit, and delete posts!</span>

    <div class="blog_page_container container grid">
        <div class="new_post_button">
            <a href="{% url 'portfolio:blog_new' %}" class="button button_flex">+ New Post</a>
        </div>
        <div class="blog_post_container container grid" style="background-color:gainsboro; border-radius: 5px; padding: 20px;">
            <h2>{{ post.titulo }}</h2>
            <img src="{% static 'portfolio/img/tay2.jpg' %}" height="200px" width="auto" style="border-radius: 5px;">
            <span class="info">
                (by {{post.autor}} at {{ post.data.day }}/{{ post.data.month }}/{{ post.data.year }})
            </span>
            {{ post.descricao }}
            <a href="{% url 'portfolio:blog_edit' post.id %}" class="button_flex">
                Edit
            </a>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock main %}